{% extends 'base.html' %}
{% block content %}
<div class="top-content">
   <div class="inner-bg">
	<div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Enter your email address</h3>
                    <p>Please enter your email address to access your account</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-key"></i>
                </div>
            </div>
          	<div class="form-bottom">
			    <form method="post">
    				{% csrf_token %}
    				{{ form.as_p }}
    				<button type="submit" class="btn">Submit</button>
  				</form>
			</div>
        </div>
    </div>
   </div>
</div>
{% endblock %}
